* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.container {
  margin: 0 auto;
  max-width: 580px;
}
.wrap {
  width: 120px;
  height: 120px;
  background: #e6e0ca;
  display: inline-block;
  margin: 80px;
}
h3 {
  margin: 0;
  text-align: center;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.element {
  width: 120px;
  height: 120px;
  color: white;
  text-align: center;
  line-height: 120px;
  -webkit-animation: rotate 6s linear infinite;
  animation: rotate 6s linear infinite;
}
.element-1 {
  background: purple;
}
